# virtual environemt
/.venv/
/.env/
/venv/
/env/

# python byte-compiled
__pycache__

# node packages
/node_modules/

# ide configs
/.vscode/
/.idea/

# emacs cache and backup files
\#*
*~

# temporary files storage
/temp/
/tmp/

# documentation and Python package builds
_builds/
_build/
builds/
build/
*.egg-info

# MkDocs generated site
site/

# translation object files
*.pot
*.mo

# local prompts library
_prompts
