[submodule "problem-sets"]
	path = problem-sets
	url = https://github.com/edu-python-course/problem-sets.git
[submodule "blog-spec"]
	path = content/en/spec/blog
	url = https://github.com/edu-python-course/blog-spec.git
[submodule "libms-db"]
	path = libms-db
	url = https://github.com/edu-python-course/libms-db.git
[submodule "libms-spec"]
	path = content/en/spec/libms
	url = https://github.com/edu-python-course/libms-spec.git
[submodule "giver-spec"]
	path = content/en/spec/giver
	url = https://github.com/edu-python-course/giver-spec.git
[submodule "impress.js"]
	path = assets/impress.js
	url = https://github.com/impress/impress.js.git
